吴浩+毕业设计源代码+答辩PPT/毕业设计/源文件/OJ/wcftest/Service References/OJService/OJService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/OJService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OJ.Domain" />
  <xs:import schemaLocation="http://localhost:8081/OJService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OJ.BLL.PageList" />
  <xs:element name="AfreshJudge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AfreshJudgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="GetProblemListResult" nillable="true" type="q1:ArrayOfProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemPageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="queryText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemPageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OJ.BLL.PageList" minOccurs="0" name="GetProblemPageListResult" nillable="true" type="q2:ProblemPageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problemId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProblemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="GetProblemByIdResult" nillable="true" type="q3:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="problem" nillable="true" type="q4:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="AddProblemResult" nillable="true" type="q5:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="problem" nillable="true" type="q6:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="UpdateProblemResult" nillable="true" type="q7:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleProblemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problemId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleProblemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleleProblemByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleProblem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="problem" nillable="true" type="q8:ProblemDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleleProblemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleleProblemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="problem" type="xs:long" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="SubmitCodeResult" nillable="true" type="q9:SolutionDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJudgeResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="solution" nillable="true" type="q10:SolutionDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitJudgeResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitJudgeResultResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionPageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolutionPageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OJ.BLL.PageList" minOccurs="0" name="GetSolutionPageListResult" nillable="true" type="q11:SolutionPageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDoByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDoByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="GetUserDoByUserNameResult" nillable="true" type="q12:ArrayOfUserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPageList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="queryText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OJ.BLL.PageList" minOccurs="0" name="GetUserPageListResult" nillable="true" type="q13:UserPageList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q14:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="user" nillable="true" type="q15:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserDoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/OJ.Domain" minOccurs="0" name="user" nillable="true" type="q16:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>