吴浩+毕业设计源代码+答辩PPT/毕业设计/源文件/OJ/JudgeService/Service References/OJService/OJService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OJ.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OJ.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54799/OJService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://localhost:54799/OJService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfProblemDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProblemDO" nillable="true" type="tns:ProblemDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProblemDO" nillable="true" type="tns:ArrayOfProblemDO" />
  <xs:complexType name="ProblemDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accepted" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Defunct" type="xs:boolean" />
          <xs:element minOccurs="0" name="Describe" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Difficulty" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fg_special" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Hint" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="In_date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Input" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Memory_limit" type="xs:int" />
          <xs:element minOccurs="0" name="Output" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sample_input" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sample_output" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Solved" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Submit" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Time_limit" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Uploader" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProblemDO" nillable="true" type="tns:ProblemDO" />
  <xs:complexType name="SolutionDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="codeLenght" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="createTime" nillable="true" type="q3:DateTimeOffset" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="id_contest" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="id_language" type="xs:int" />
          <xs:element minOccurs="0" name="id_problem" type="xs:long" />
          <xs:element minOccurs="0" name="id_user" type="xs:long" />
          <xs:element minOccurs="0" name="judgeTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="language" nillable="true" type="tns:LanguageDO" />
          <xs:element minOccurs="0" name="languageReference" nillable="true" type="q2:EntityReferenceOfLanguageDOUWpDsVqM" />
          <xs:element minOccurs="0" name="memory" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="num" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="pass_rate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="result" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="sourcecode" nillable="true" type="tns:SourceCodeDO" />
          <xs:element minOccurs="0" name="sourcecodeReference" nillable="true" type="q2:EntityReferenceOfSourceCodeDOUWpDsVqM" />
          <xs:element minOccurs="0" name="time" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="userIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="valid" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolutionDO" nillable="true" type="tns:SolutionDO" />
  <xs:complexType name="LanguageDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LanguageDO" nillable="true" type="tns:LanguageDO" />
  <xs:complexType name="SourceCodeDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id_solution" type="xs:long" />
          <xs:element minOccurs="0" name="Source_code" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SourceCodeDO" nillable="true" type="tns:SourceCodeDO" />
  <xs:complexType name="ArrayOfSolutionDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolutionDO" nillable="true" type="tns:SolutionDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolutionDO" nillable="true" type="tns:ArrayOfSolutionDO" />
  <xs:complexType name="ArrayOfUserDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDO" nillable="true" type="tns:UserDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDO" nillable="true" type="tns:ArrayOfUserDO" />
  <xs:complexType name="UserDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Birthday" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Defunct" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Id_language" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="School" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Solved" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Submit" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserDO" nillable="true" type="tns:UserDO" />
</xs:schema>