吴浩+毕业设计源代码+答辩PPT/毕业设计/源文件/OJCMS/OJCMS/Service References/OJCMSService/OJCMSService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OJCMS.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OJCMS.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/OJCMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfMenuDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuDO" nillable="true" type="tns:MenuDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuDO" nillable="true" type="tns:ArrayOfMenuDO" />
  <xs:complexType name="MenuDO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ds" type="xs:boolean" />
          <xs:element minOccurs="0" name="Fg_sys" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="Id_perent" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="InnerCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NavigateUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MenuDO" nillable="true" type="tns:MenuDO" />
</xs:schema>