吴浩+毕业设计源代码+答辩PPT/毕业设计/源文件/OJCMS/WCFTest/Web References/OJCMSService/OJCMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OJCMS.BLL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OJCMS.BLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8739/OJCMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OJCMS.Domain" />
  <xs:complexType name="UserPageList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PageListOfUserDO0gLYFlfq">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserPageList" nillable="true" type="tns:UserPageList" />
  <xs:complexType name="PageListOfUserDO0gLYFlfq">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/OJCMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserDO" Namespace="http://schemas.datacontract.org/2004/07/OJCMS.Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OJCMS.Domain" minOccurs="0" name="DataList" nillable="true" type="q1:ArrayOfUserDO" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageListOfUserDO0gLYFlfq" nillable="true" type="tns:PageListOfUserDO0gLYFlfq" />
  <xs:complexType name="RolePageList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PageListOfRoleDo0gLYFlfq">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RolePageList" nillable="true" type="tns:RolePageList" />
  <xs:complexType name="PageListOfRoleDo0gLYFlfq">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PageListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/OJCMS.BLL" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RoleDo" Namespace="http://schemas.datacontract.org/2004/07/OJCMS.Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OJCMS.Domain" minOccurs="0" name="DataList" nillable="true" type="q2:ArrayOfRoleDo" />
      <xs:element minOccurs="0" name="RecordCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageListOfRoleDo0gLYFlfq" nillable="true" type="tns:PageListOfRoleDo0gLYFlfq" />
</xs:schema>